/* GENERICS */
body {
    font-weight: 600;
}


main {
    padding-top: 100px;
}

/* BACKGROUND COLOR  */
.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: rgb(45, 100, 230);
}

.bg-blue-navy {
    background-color: rgb(0, 67, 156);
}
.txt-blue {
    color:rgb(45, 100, 230);
}

.bg-dark-blue {
    background-color: rgb(22, 28, 59);
}

.bg-grey {
    background-color: rgb(190, 188, 187);
}

.bg-dark-grey {
    background-color: rgb(31, 31, 31);
}

.bg-orange {
    background-color:rgb(205, 61, 15);
}

.b-radius {
    border-radius: 15px;
}

/* NAVBAR */
#nav-bottom a{
    color: black;
}

#nav-bottom a:hover {
    color: rgb(45, 100, 230);
}

/* EFFECTS BUTTONS  */
.my-btn-dark-grey:hover {
    border: 1px solid white;
    background-color: rgba(31, 31, 31, 0.5);
    box-shadow: 0 0 0 2px rgba(31, 31, 31, 0.5);
}

.my-btn-grey:hover {
    color: rgb(45, 100, 230);
    border: 1px solid white;
    box-shadow: 0 0 0 2px rgb(217,218,220);
}

.my-btn-orange:hover {
    border: 1px solid black;
    box-shadow: 0 0 0 2px rgb(205, 61, 15);
}

.my-btn-blue:hover {
    border: 1px solid white;
    box-shadow: 0 0 0 2px rgb(45, 100, 230);
}

.my-btn-dark-blue:hover {
    border: 1px solid rgb(22, 28, 59);
    box-shadow: 0 0 0 2px white;
}

/* EFFECTS THUMBS  */
#games-thumbs img {
    transition: 0.5s ease-in-out;
}

#games-thumbs img:hover {
    transform: translateY(-10px);
    border: 3px solid white;
    box-shadow: 0 0 0 2px rgb(45, 100, 230);
}   


/* JUMBOTRON  */
.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbo-one {
    background-image: url("../img/jumbo-bg.png");
    padding-top: 250px;
}

#jumbo-two {
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
}

#banner-games {
    max-width: 50%;
}

/* SECTION PS4  */

#accessories .col {
    max-width: 200px;
}


#accessories .card:not(.no-opacity) {
    filter: opacity(50%);

}

#accessories .card:hover {
    filter: brightness(100%);
}


#accessories .active:after {
    content:"";
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(45, 100, 230);
    margin: 30px 0;
  
}


/* FOOTER */
footer li {
    padding-top: 5px;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    color: white;
    text-decoration: underline;
}


