/* GENERICS */
main {
    padding-top: 50px;
}

/* BACKGROUND COLOR  */
.bg-dark-blue {
    background-color: rgb(22, 28, 59);
}

.bg-grey {
    background-color: rgb(190, 188, 187);
}

.bg-orange {
    background-color:rgb(205, 61, 15);
}


/* JUMBOTRON  */
.jumbotron {
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbo-one {
    background-image: url("../img/jumbo-bg.png");
}

#jumbo-two {
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* IMG WIDTH  */
#games-thumb img {
     border-radius: 15px;
}