/* GENERICS */
body {
    font-weight: 600;
}

main {
    padding-top: 100px;
}

/* BACKGROUND COLOR  */
.bg-black {
    background-color: black;
}

.bg-dark-blue {
    background-color: rgb(22, 28, 59);
}

.bg-grey {
    background-color: rgb(190, 188, 187);
}

.bg-dark-grey {
    background-color: rgb(31, 31, 31);
}

.bg-orange {
    background-color:rgb(205, 61, 15);
}

.my-pt {
    padding-top: 200px;
}

/* NAVBAR */
#nav-bottom a{
    color: black;
}

#nav-bottom a:hover {
    color: blue;
}

/* BUTTONS  */
.my-btn-grey:hover {
    border: 1px solid white;
    background-color: rgba(31, 31, 31, 0.5);
    box-shadow: 0 0 0 2px rgba(31, 31, 31, 0.5);
}

.my-btn-orange:hover {
    border: 1px solid black;
    box-shadow: 0 0 0 2px rgb(205, 61, 15);
}

/* JUMBOTRON  */
.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbo-one {
    background-image: url("../img/jumbo-bg.png");
}

#jumbo-two {
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
}


/* IMG WIDTH  */
.b-radius {
     border-radius: 15px;
}


/*! SEZIONI URGENTI DA SISTEMARE */
/* 
1. Blu chevron;
2. rivedere BUTTON (scritta dentro centrata!!);
4. Accessories PS4 -> non devono stare sulla stessa linea
*/



footer {
    height: 300px;
    background-color: aqua;
}

